<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>
<body>
    <section class="section">
        <div class="container">
            <header th:replace="layout/layout :: header"></header>
            <div class="card">
                <div class="card-content">
                  <div class="content">
                    <div th:text="#{text.login.error}" th:if="${error}" class="notification is-danger">
                      Ha habido un error, comprueba tu usuario y contraseña o contacta con un administrador.
                      </div>
                    <form th:action="@{/login}" method="post">
                        <div class="control">
                            <label th:text="#{text.login.username}" for="username">Username:</label>
                                <input name="username" id="username" class="input" type="text" placeholder="Username" autofocus required>
                            <br><br>
                            <label th:text="#{text.login.password}" for="password">Password:</label>
                                <input name="password" id="password" class="input" type="password" placeholder="Password" required>
                            <br><br>
                            <button th:text="#{text.login.entrar}" class="button is-info" type="submit">Entrar</button>
                        </div>
                    </form>
                  </div>
                </div>
              </div>
            <footer th:replace="layout/layout :: footer"></footer>
        </div>
    </section>
</body>