<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <nav th:fragment="paginator" class="pagination" role="navigation" aria-label="pagination">
        <ul class="pagination-list">
            <li>
                <span class="pagination-link" th:text="#{text.paginator.primera}" th:if="${page.first}"></span>
                <a class="pagination-link" th:if="${not page.first}" th:href="@{${page.url}(page=0)}">Primera Pagina</a>
            </li>
            <li>
                <span class="pagination-link" th:if="${not page.hasPrevious}"><<</span>
                <a class="pagination-link" th:if="${page.hasPrevious}" th:href="@{${page.url}(page=${page.paginaActual -2})}"><<</a>
            </li>
            <li th:each="item : ${page.paginas}">
                <span class="pagination-link" th:if="${item.actual}" th:text="${item.numero}"></span>
                <a class="pagination-link" th:if="${not item.actual}" th:href="@{${page.url}(page=${item.numero -1 })}" th:text="${item.numero}"></a>
            </li>
            <li>
                <span class="pagination-link" th:if="${not page.hasNext}">>></span>
                <a class="pagination-link" th:if="${page.hasNext}" th:href="@{${page.url}(page=${page.paginaActual})}">>></a>
            <li>
                <span class="pagination-link" th:text="#{text.paginator.ultima}" th:if="${page.last}">Ultima Pagina</span>
                <a class="pagination-link" th:if="${not page.last}" th:href="@{${page.url}(page=${page.totalPaginas -1})}" >Ultima Pagina</a>
            </li>
        </ul>
    </nav>
</body>
</html>